<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Join | ChatApp</title>
    <meta name="viewport" content="width=device-width, inital-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="centered-form">
    <div class="centered-form__form">
      <form id="message-form" action="/room">
        <div class="form-field"><h3>Join Chat</h3></div>
        <div class="form-field">
          <label>Display name</label>
          <input type="text" name="username" autofocus>
        </div>
        <div class="form-field">
          <button>Join</button>
        </div>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>

      var socket = io();

      var form = document.getElementById('message-form');

      socket.on('redirect', function(url) {
        window.location.href = url;
      });

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        var uname = form.username.value;
        if (uname.length > 0) {
          socket.emit('join', uname);
        }
        form.username.value = ''
      });

    </script>
  </body>
</html>
